[alias]
  br = branch -vv
  bra = branch -vv --all
  di = diff
  dis = diff --stat
  count = diff --stat "4b825dc642cb6eb9a060e54bf8d69288fbee4904" # hash of empty tree
  credit = shortlog -sn
  linecredit = ! "lc() { git ls-tree --name-only -z -r HEAD | xargs -0 -n1 git diff --no-index --numstat /dev/null 2>/dev/null | grep -v '^-' | cut -f 3- | cut -d ' ' -f 3- | xargs -n1 git blame --line-porcelain | grep '^author ' | cut -d ' ' -f 2- | sort | uniq -c | sort -nr; }; lc"
  lg = log -p
  gr = log --graph --format=compact # graph
  grl = log --graph --format=line # graph line
  grd = log --graph --format=detail # graph detail
  root = rev-parse --show-toplevel
  st = status
  co = checkout
[color]
  diff = auto
  ui = auto
[color "diff"]
  whitespace = red reverse
[diff]
  mnemonicPrefix = true
[pretty]
  line = "%C(auto)%h%d %s %C(yellow)by %C(blue)%an %C(green)%ar"
  compact = "%C(auto)%h %s %C(green)%ar%n %C(auto)%d%n"
  detail = "%C(auto)%h %s%n  %C(yellow)by %C(blue)%an %C(magenta)<%ae> [%G?] %C(green)%ar%n %C(auto)%d%n"
[push]
  default = matching
[user]
  name = Fengtan
  email = Fengtan@847318.no-reply.drupal.org
